body{
    background-image: radial-gradient(circle, #252929, #114f45, #00754d, #3a9a3e, #82bc00);
}

h1, h2{
    text-align: center;
    color: azure;
    text-shadow: 2px 2px #353636;
    margin-top: 1.5rem;
}

form{
    margin-top: 235px;
}


.wrapper{
    margin: 0 auto;
    color: azure;
    text-shadow: 2px 2px #353636;
    margin-top: 1rem;
    height: 500px;
}


button, input, a{
    background-color: #3a9a3e;
    text-decoration: none;
    color: azure;
    font-weight: bold;
    text-shadow: 1px 1px #353636;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#max_log{
    margin: 0 auto;
    color: azure;
    text-shadow: 2px 2px #353636;
    margin-top: 1.5rem;
    text-align: center;
}

#jinja{
    font-size: xx-large;
}